<div class="container my-5 img-fluid rounded-5 banner"
  style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
  url(https://res.cloudinary.com/drip4exjp/image/upload/v1667778883/development/julian-hochgesang-AetmDwMVzio-unsplash_hvd7bz.jpg);">
  <div class="container text-center text-white">
    <h1 class="h1">MADA CAR</h1>
    <p>Location de voitures entre particuliers en Martinique !</p>
    <%= link_to "Nos voitures", cars_path, class: "btn btn-secondary  text-white col-lg-2 mx-auto" %>
  </div>
</div>
