
<div class="container my-5">
  <%= image_tag  ("https://res.cloudinary.com/drip4exjp/image/upload/v1668193315/peugeot_rjk54m.jpg"), class: "img-fluid rounded-5" %>
</div>

<div class="container my-5 d-flex justify-content-start flex-column">
  <h1 class="h1 text-start ">Nos voitures</h1>
  <hr style="width: 100px; color: red; margin-right: 15px; margin-top: 5px;"  >
</div>

<div class="container p-3 my-5 shadow rounded-5" style="background-color: whitesmoke;">
  <div class="d-flex justify-content-around flex-wrap p-5">
    <% @cars.each do |car| %>
      <%= link_to car_path(car)  , class:"mcard shadow rounded-5" do   %>
        <%= car.brand.capitalize %> <%= car.model.capitalize %>
      <% end %>
    <% end %>
  </div>
</div>
