<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

<h1 class="text-center">Nos voitures</h1>

<div class="d-flex justify-content-around", style="margin-top: 60px">
    <% @cars.each do |car| %>
      <%= link_to car_path(car) do %>
        <div class="card mx-auto">
          <div class="row">
              <div class="col-12 p-5">
                <ul>
                  <li><%= car.brand %></li>
                  <li><%= car.model %></li>
                  <li><%= car.price %>€/jour</li>
                </ul>
              </div>
          </div>
      </div>
      <% end %>
    <% end %>

</div>
